div {
    color: rebeccapurple;
    animation-duration: 3s;
    animation-name: slidein;
    color: red;
}
span {
    background-color: gold;
}
.wow {
    color: blue;
}
@media (min-width: 300px) {
    .wow {
        color : red;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
li {
    background-color: #217ac0;
}
/*:root li {*/
/*    background-color: #217ac0;*/
/*}*/

:root span {
    font-size: 55px;
}